.article {
	max-width: 560px;
}
.article-header {
	font-family: 'Zilla Slab', serif;
}
.article-header-flex {
	display: flex;
	position: relative;
	justify-content: space-between;
}
.article-header p, .article-header a {
	font-family: 'Zilla Slab', serif;
	font-size: 18px;
}

.article-header-left {
	width: 100%;
}
.meta-info > * {
	margin: 0;

}
.article-rating-section {
	display: grid;
	text-align: center;
	font-size: 22px;
	line-height: 1em;
	font-family: "Monaco", sans-serif;
}
.article-rating-section button {
	padding: 0;
	margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 50px;
  position: relative;
}

.article-summary {
	border: 1px solid #ddd;
}

.article-content {
	margin: 2em 0;
}

.article-content a {
	color: #00bfa5;
	border-bottom: 1px dotted #00bfa5;
}

.article-content p {
	font-family: "Georgia", serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.8em;
	letter-spacing: -0.005em;
	color: rgb(32,32,37);
}
