 @import url('https://fonts.googleapis.com/css?family=Nunito|Zilla+Slab|Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, button {
	outline: none;
}

blockquote {
	margin: 0;
	padding: 1em;
	border-left: 5px solid #00bfa5;
	font-style: italic;
}
.main {
	margin: 1em 0;
}
.row .col {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.2em 0;
  font-family: 'Zilla Slab', serif;
}
nav {
  font-family: 'Montserrat', sans-serif;
}

a.user-link {
	color: #26c6da;
	border-bottom: 1px dotted #26c6da;
}

/* Create Article CSS */

.RichTextEditor__editor___1QqIU .public-DraftEditor-content {
  min-height: 10em;
  max-height: 65vh;
  overflow: scroll;
}

form .title-input, form .tags-input {
	border: none;
	background-color: transparent;
	border-bottom: 2px solid #abb;
}

form > * {
	margin: 0.8em 0;
}


form .title-input {
	font-size: 28px;
	padding-left: 0;
}

form .tags-input * {
	background-color: transparent;
}